#containerGame {
  width: var(--width-full);
  display: flex;
  gap: var(--gap-m);
}
#containerGame > div {
  width: var(--width-full);
  display: flex;
  align-items: end;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--yellow-color);
  padding: var(--padding-s);
}

#containerGame > div > p {
  padding: var(--padding-xs);
  font-size: var(--font-size-m);
}
#optionsUser,
#optionsMachina {
  width: var(--width-full);
  display: flex;
}
#optionsUser > button {
  padding: 20px;
  width: var(--width-full);
  cursor: pointer;
  font-size: var(--font-size-l);
}
#optionsMachina > button {
  padding: 20px;
  width: var(--width-full);
  cursor: not-allowed;
  font-size: var(--font-size-l);
  text-align: center;
}
@media (max-width: 500px) {
  #optionsUser,
  #optionsMachina {
    display: inline-block;
  }
}
