#containerGamePPT {
  width: var(--width-full);
  display: flex;
  gap: var(--gap-m);
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.containerGamePPT > p {
  position: absolute;
  text-align: center;
  font-size: var(--font-size-l);
  text-transform: uppercase;
}
#containerGamePPT > div {
  width: var(--width-full);
  display: flex;
  align-items: end;
  flex-direction: column;
  background-color: var(--primary-colorPPT);
  color: var(--yellow-colorPPT);
  padding: var(--padding-s);
}

#containerGamePPT > div > p {
  padding: var(--padding-xs);
  font-size: var(--font-size-m);
}
#optionsUserPPT,
#optionsMachinaPPT {
  width: var(--width-full);
  display: flex;
}
#optionsUserPPT > button {
  padding: 20px;
  width: var(--width-full);
  cursor: pointer;
  font-size: var(--font-size-l);
  background-color: var(--white-colorPPT);
}
#optionsMachinaPPT > button {
  padding: 20px;
  width: var(--width-full);
  cursor: not-allowed;
  font-size: var(--font-size-l);
  background-color: var(--white-colorPPT);
}
@media (max-width: 500px) {
  #optionsUserPPT,
  #optionsMachinaPPT {
    display: inline-block;
  }
}
