@import url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&family=Jersey+10&family=Khand:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;500&family=Yrsa&display=swap');

:root {
  /*PIEDRA PAPEL TIJERA*/
  --primary-colorPPT: rgb(15, 35, 104);
  --info-color-bgPPT: rgb(255, 131, 131);
  --gray-colorPPT: rgb(44, 44, 44);
  --yellow-colorPPT: rgb(255, 255, 0);
  --white-colorPPT: rgb(255, 255, 255);
  --yellow-color-hoverPPT: rgba(175, 175, 16, 0.781);

  /*COLOR BTN OPTIONS COMPARE*/
  --win-colorPPT: rgba(118, 243, 107, 0.76);
  --lose-colorPPT: rgba(245, 84, 84, 0.767);
  --tie-colorPPT: rgba(255, 230, 92, 0.801);
  /*END PIEDRA PAPEL TIJERA*/

  /*RULETA*/
  --primary-colorR: rgb(12, 112, 42);
  --info-color-bgR: rgba(161, 25, 25, 0.493);
  --gray-colorR: rgb(77, 77, 77);
  --yellow-colorR: rgb(251, 255, 3);
  --white-colorR: rgb(255, 255, 255);
  --yellow-color-hoverR: rgba(194, 207, 12, 0.781);

  /*COLOR BTN OPTIONS COMPARE*/
  --win-colorR: rgba(118, 243, 107, 0.76);
  --lose-colorR: rgba(245, 84, 84, 0.767);
  --tie-colorR: rgba(255, 230, 92, 0.801);
  /*END RULETA*/

  /*LEARN ENGLISH*/
  --primary-colorLE: rgb(3, 217, 255);
  --info-color-bgLE: rgb(255, 109, 109);
  --gray-colorLE: rgb(77, 77, 77);
  --yellow-colorLE: rgb(254, 255, 175);
  --white-colorLE: rgb(255, 255, 255);
  --yellow-color-hoverLE: rgba(255, 255, 254, 0.781);

  /*COLOR BTN OPTIONS COMPARE*/
  --win-colorLE: rgba(118, 243, 107, 0.76);
  --lose-colorLE: rgba(245, 84, 84, 0.767);
  --tie-colorLE: rgba(255, 230, 92, 0.801);
  /*END LEARN ENGLISH*/

  /*WIDTH SIZE*/
  --width-full: 100%;

  /*PADDING SIZE*/
  --padding-xs: 5px;
  --padding-s: 10px;
  --padding-m: 20px;
  --padding-l: 40px;

  /*FONT SIZE*/
  --font-size-xxl: 100px;
  --font-size-xl: 60px;
  --font-size-l: 40px;
  --font-size-m: 24px;
  --font-size-s: 18px;

  /*GAP*/
  --gap-l: 30px;
  --gap-m: 10px;
  --gap-s: 5px;
}
* {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
