header {
  padding: var(--padding-s);
  display: flex;
  justify-content: center;
}
#headerPPT {
  width: var(--width-full);
  background-color: var(--primary-colorPPT);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerHeaderPPT {
  width: var(--width-full);
  display: flex;
  gap: var(--gap-m);
  justify-content: space-around;
  align-items: center;
}
.containerPPT > h1 {
  font-size: var(--font-size-xl);
  text-align: center;
  color: var(--yellow-colorPPT);
  max-width: 90%;
}
.containerPPT > h1::first-letter {
  font-size: var(--font-size-xxl);
}
.containerPPT > ul {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}
.containerPPT > ul > li {
  font-size: var(--font-size-m);
}
.listIconPPT {
  display: flex;
}
.btnStartPPT {
  position: relative;
  font-size: var(--font-size-l);
  background-color: var(--yellow-colorPPT);
  padding: 5px;
  border-top: 4px solid gray;
  border-right: 4px solid gray;
  cursor: pointer;
  margin: 10px;
}
.btnStartPPT:hover {
  background-color: var(--yellow-color-hoverPPT);
}

@media (max-width: 500px) {
  .containerHeaderPPT {
    flex-direction: column;
  }
}
