header {
  padding: var(--padding-s);
  display: flex;
  justify-content: center;
}
#header {
  width: var(--width-full);
  background-color: var(--primary-colorR);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerHeader {
  width: var(--width-full);
  display: flex;
  gap: var(--gap-m);
  justify-content: space-around;
  align-items: center;
}
.container > h1 {
  font-size: var(--font-size-xl);
  text-align: center;
  color: var(--yellow-colorR);
  max-width: 90%;
}
.container > h1::first-letter {
  font-size: var(--font-size-xxl);
}
.container > ul {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}
.container > ul > li {
  font-size: var(--font-size-m);
}
.listIcon {
  display: flex;
}
.btnStart {
  position: relative;
  font-size: var(--font-size-l);
  background-color: var(--yellow-colorR);
  padding: 5px;
  border-top: 4px solid gray;
  border-right: 4px solid gray;
  cursor: pointer;
  margin: 10px;
}
.btnStart:hover {
  background-color: var(--yellow-color-hoverR);
}

@media (max-width: 500px) {
  .containerHeader {
    flex-direction: column;
  }
}
