main {
  display: flex;
  flex: 1;
  justify-content: center;
}
.containerFormNamePPT {
  width: var(--width-full);
  display: flex;
  margin: 20px 10px;
  gap: var(--gap-m);
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.containerFormNamePPT > p {
  color: var(--gray-colorPPT);
  width: var(--width-full);
  padding: var(--padding-m);
  font-size: var(--font-size-m);
  background-color: var(--info-color-bgPPT);
  border: 2px solid var(--primary-colorPPT);
}
.containerFormNamePPT > form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}
.containerFormNamePPT > form > label {
  font-size: var(--font-size-m);
  text-transform: uppercase;
  cursor: pointer;
}
.containerFormNamePPT > form > input {
  padding: var(--padding-s);
  color: var(--info-color-bgPPT);
  text-align: center;
  text-transform: uppercase;
  border: 2px solid var(--primary-colorPPT);
  font-size: var(--font-size-s);
}
#saveUserPPT {
  padding: var(--padding-s);
  font-size: var(--font-size-s);
  background-color: var(--yellow-colorPPT);
  color: var(--gray-colorPPT);
  cursor: pointer;
}
#saveUserPPT:hover {
  background-color: var(--yellow-colorPPT-hover);
}
.containerInfoPPT {
  display: flex;
  flex-direction: column;
  margin: 40px 10px;
  border: 2px dashed var(--primary-colorPPT);
  padding: var(--padding-s);
  cursor: help;
}
.containerInfoPPT > h3 {
  font-size: var(--font-size-m);
}
.containerInfoPPT > p {
  font-size: var(--font-size-m);
}
.containerGamePPT {
  display: flex;
  flex-direction: column;
  margin: 40px 10px;
}
.containerGamePPT > button {
  background-color: var(--primary-colorPPT);
  color: var(--yellow-colorPPT);
  font-size: var(--font-size-l);
  padding: var(--padding-s);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
#playPPT:hover {
  animation: shake 0.2s infinite;
}
#playPPT.clicked {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(2px, -2px);
  }
  75% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
